<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='main.css') }}">
        <title>Custom Vends | Home </title>
    </head>
    <body>
        <div class="main-content">
            <div class="vending-wrap">
                <div class="nav">
                    <div class="nav-header">
                      <div class="nav-title">
                        <h1>Custom Vends</h1>
                      </div>
                    </div>

                    <input type="text" id="item-input" class="item-input" onkeyup="search()" placeholder="Search for item..">

                    <div class="nav-links">
                      {% if user.is_authenticated %}
                      <a href="/" class="selected">Home</a>
                      <a href="/contact" >Contact Us</a>
                      <a href="/inventory" >Inventory</a>
                      <a href ="/admin" > Admin Page</a>
                      <a href="/logout" >Logout</a>
            
                      {% else %}
                      <a href="/login" class="selected">Login</a>
                      <a href="/login" >Sign Up</a>
                      <a href="/contact" >Contact Us</a>
                      {% endif %}
                    </div>
                  </div>
                <div class="vending-content-wrap">
                    <h1>{{context.current.name}}</h1>
                    <div class="items-wrap" id="items-wrap">
                        {% for item in context.inventory %}
                            <div class="machine-item" onclick="addItem({{item.id}}, '{{item.item}}', {{item.price}})">
                                <img src="https://www.freeiconspng.com/uploads/coca-cola-soda-can-png-image-12.png"/>
                                <p>{{item.item}}</p>
                                <p>Price: ${{item.price}}</p>
                                <p hidden id="item-{{item.id}}">{{item.qty}}</p>
                                <p id="outof-{{item.id}}" style="color:red;"></p>
                            </div><!--End of machine item wrap-->
                        {% endfor %}
                    </div><!--End of items wrap-->

                </div>

            </div> <!--End of Vending Content-->
            <div class="sidebar-wrap">

                <div class="selected-wrap">
                    <h3>Selected Items</h3>
                    <div class="selected-items-wrap" id="selected-items-wrap">
                        <!--Selected Items go here-->
                    </div>
                    <p id="total">Total: $<span id="total-price">0.00<span></p>
                    <a href="/purchase"><button>Purchase</button></a>
                </div>
                <!--start of inserted
                <div class="money-inserted-wrap">
                    <h3>Money Inserted</h3>
                    <div class="inserted-wrap">
                        <div class="inserted-info">
                            <img src="https://www.freeiconspng.com/uploads/transparent-square-11.png" alt="wow">
                            <p class="item-name"></p>
                            <p class="item-counter"></p>
                        </div>
                    </div>
                    <button>Dispense</button>
                </div>
                -->

                 <div class="select-machine-wrap">
                        <h3>Select Machine</h3>
                        <div class="selection-wrap">
                            <div class="selection-content">
                                {% for machine in context.machines %}
                                    {% if context.current.id != machine.id and machine.id < 7 %}
                                    <a href="/?machine={{machine.id}}">
                                        <div class="machine-item">
                                        <img src="https://www.kindpng.com/picc/m/317-3172046_vending-machine-png-transparent-png.png"/>
                                            <p>{{machine.name}}</p>
                                        </div><!--End of machine item wrap-->
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            </div><!--End of selection content-->
                        </div>
                    </div><!--End of machine wrap-->

            </div> <!--End of Sidebar Content-->
        </div>

        <!--Scripts-->
         <script type="application/javascript">
            function showMsg(item) {
            alert(item);
        }

         function search() {
             // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('item-input');
            filter = input.value.toUpperCase();
            ul = document.getElementById("items-wrap");
            li = ul.getElementsByTagName('div');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("p")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
                } else {
                li[i].style.display = "none";
                }
            }
        }

        function addItem(id, name, price){
            var quantity = document.getElementById("item-" + id).innerText;
            quantity = parseInt(quantity);
            console.log(id, name, quantity)
            if(quantity != 0){
                if(document.getElementById("item-info-" + id)){
                    var count = document.getElementById("item-counter-" + id).innerText;
                    document.getElementById("item-counter-" + id).innerHTML = parseInt(count) + 1;
                } else{
                    document.getElementById("selected-items-wrap").innerHTML += '<div id="item-info-'+ id + '" class="item-info">' +
                            '<img src="https://www.freeiconspng.com/uploads/coca-cola-soda-can-png-image-12.png" alt="wow">' +
                            '<p class="item-name">' + name + '</p>' +
                            '<p id="item-counter-' + id + '">1</p>' + 
                        '</div>';
                    document.getElementById("item-info-"+ id).setAttribute("onclick", "removeItem(" + id + ", " + price + ")");
                }
                document.getElementById("item-" + id).innerHTML = quantity - 1;
                
                var total = parseFloat(document.getElementById("total-price").innerText);
                document.getElementById("total-price").innerHTML = Number(Math.round((total + price)+'e2')+'e-2');
            } else{
                alert("No more in stock!");
                document.getElementById("outof-" + id).innerHTML = "Out of Stock";
            }
        }

        function removeItem(id, price){
            var quantity = document.getElementById("item-counter-" + id).innerText;
            quantity = parseInt(quantity);
            if(quantity != 0){
                var count = document.getElementById("item-counter-" + id).innerText;
                document.getElementById("item-counter-" + id).innerHTML = parseInt(count) - 1;
                
                var quantity1 = document.getElementById("item-" + id).innerText;
                quantity1 = parseInt(quantity1);
                document.getElementById("item-" + id).innerHTML = quantity1 + 1;
                document.getElementById("outof-" + id).innerHTML = "";
                
                var total = parseFloat(document.getElementById("total-price").innerText);
                document.getElementById("total-price").innerHTML = Number(Math.round((total - price)+'e2')+'e-2');
            } else{
                document.getElementById("item-info-" + id).remove();
            }
        }
        </script>
    </body>
</html>

